In [14]:
import pandas as pd

In [15]:
macro_and_bond_data = pd.read_csv("data/macro_and_bond_data.csv")
#cclean_data = pd.read_csv("data/cleaned_macro_data.csv")

In [16]:
macro_and_bond_data.head()

,date,2Y_Treasury_Yield,5Y_Treasury_Yield,10Y_Treasury_Yield,30Y_Treasury_Yield,Fed_Funds_Rate,Overnight_Repo_Rate,CPI,Core_CPI,PCE_Inflation,...,Retail_Sales,USD_EUR_Exchange_Rate,Date,^TNX,BND,TLT,BIL,SHY,IEF,LQD
0,1980-01-01,11.75,11.11,11.13,11.09,13.82,NaN,78.0,76.7,37.124,...,NaN,NaN,1980-01-01,10.50,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-01-01,11.75,11.11,11.13,11.09,13.82,NaN,78.0,76.7,37.124,...,NaN,NaN,1980-01-01,10.60,NaN,NaN,NaN,NaN,NaN,NaN
2,1980-01-01,11.75,11.11,11.13,11.09,13.82,NaN,78.0,76.7,37.124,...,NaN,NaN,1980-01-01,10.66,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-01-01,11.75,11.11,11.13,11.09,13.82,NaN,78.0,76.7,37.124,...,NaN,NaN,1980-01-01,10.63,NaN,NaN,NaN,NaN,NaN,NaN
4,1980-01-01,11.75,11.11,11.13,11.09,13.82,NaN,78.0,76.7,37.124,...,NaN,NaN,1980-01-01,10.57,NaN,NaN,NaN,NaN,NaN,NaN